<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Начало игры</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="content">
        <h1>Добро пожаловать в игру))</h1>
        <div class="buttons">
            <button onclick="window.location.href='/play'">Играть</button>
            <button onclick="window.location.href='/add_word'">Добавить слово в игру</button>
            <button onclick="window.location.href='/rules'">Правила игры "Виселица"</button>
            <button onclick="window.location.href='/statistics'">Статистика игрока</button>
        </div>
    </div>
</body>
</html>