<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="content">
        <h1>Добро пожаловать в игру "Виселица"</h1>
        <div class="buttons">
            <button onclick="window.location.href='/authorization'">Авторизация</button>
            <button onclick="window.location.href='/registration'">Регистрация</button>
            <button onclick="window.location.href='/rules'">Правила игры "Виселица"</button>
        </div>
    </div>
</body>
</html>