<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Правила</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="content">
        <h1>Правила игры "Виселица"</h1>
        <p>Игра "Виселица" — это классическая игра на отгадывание слов, которая часто играется в компаниях и используется как образовательная активность.</p>
        <p>Основная цель игры — отгадать слово, прежде чем игрок допустит определенное количество ошибок, за которые ему рисуют "виселицу".</p>
        <p>Правила игры "Виселица"</p>
        <strong>Участники:</strong>
            <p>- Компьютер и игрок. Компьютер загадывает слово. На экране выводятся пустые ячейки, равное количеству букв в загаданном слове, а игрок угадывает загаданное слово.</p>
        <strong>Процесс игры:</strong>
            <p>- Иргок по очереди называет буквы, которые, по его мнению, могут входить в загаданное слово.</p>
            <p>- Если буква есть в слове, компьютер открывает все её появления внутри слова.</p>
            <p>- Если буква не содержится в слове, гарант добавляет одну часть к изображению виселицы (например: сама виселица, голова, тело, руки и ноги).</p>
            <p>- Процесс повторяется до тех пор, пока игрок не угадает все буквы слова или не исчерпает количество попыток, всего их семь.</p>
        <strong>Игра заканчивается, когда:</strong>
            <p>- Игрок отгадывает все буквы слова, что означает его победу.</p>
            <p>- Игрок исчерпывает количество своих попыток, и слово остается неотгаданным, что означает победу компьютера.</p>
    <div>
</body>
</html>